/* 追加のスタイル */

div#wrapper {
	margin-left :  1em;
	margin-right : 1em;
}

.description {
	color       : darkred;
	font-size   : smaller;
	margin-left : 1em;
}

p.alert {
	color      : red;
	font-style : oblique;
}

noscript#template {
	display : none;
}

th.resgroups {
	font-weight : bold;
	background-color : lightgray;
}

td.reslist {
}

@media print {
	button#submit,
	.description,
	p.alert
	{
		display : none;
	}
}